<!DOCTYPE html>
<html>
<body>
<div>
  <h1 class="title">Find food by tag</h1>
  <span><mat-form-field class="field">
      <mat-label>Tag</mat-label>
      <input matInput [(ngModel)]="value" placeholder="Ex. Pizza">
    </mat-form-field>
 <button [disabled]="!value" mat-stroked-button color="accent" (click)="getRecipeByTag()">Find</button>
  </span>
</div>
<div *ngIf="true">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tags</th>
      <td mat-cell *matCellDef="let element"> {{ element.tags }}</td>
    </ng-container>

    <ng-container matColumnDef="ingredients">
      <th mat-header-cell *matHeaderCellDef> Ingredients</th>
      <td mat-cell *matCellDef="let element"> {{ element.ingredients }}</td>
    </ng-container>

    <ng-container matColumnDef="Difficulty">
      <th mat-header-cell *matHeaderCellDef> Difficulty</th>
      <td mat-cell *matCellDef="let element"> {{ element.difficulty }}</td>
    </ng-container>

    <ng-container matColumnDef="instructions">
      <th mat-header-cell *matHeaderCellDef> Instructions</th>
      <td mat-cell *matCellDef="let element"> {{ element.instructions }}</td>
    </ng-container>
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo</th>
      <td mat-cell *matCellDef="let element">
        <img priority ngSrc="{{element.image}}" alt="foodPhoto" width="250" height="150"/></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

</body>
</html>
